.BottomHeader {
  padding: 1.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 1.5rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  justify-self: start;
  align-items: center;
  gap: 1.5rem;
  padding-right: 12rem;
}

.iconBtn {
  background: none;
  border: none;
}

.menuIcon {
  font-size: 2.4rem;
  color: #ccc;
}

.menuTitle {
  font-size: 2rem;
  color: #323232;
}

/* search  */

.search {
  flex-grow: 1;
}

.search input {
  padding: 1rem 2rem;
  width: 100%;
  border: 1px solid #e4e6eb;
  font-size: 14px;
  color: #323232;
  border-radius: 6px;
}

.search input:focus {
  outline: none;
}

/* Nav  */
.nav {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  padding-left: 2.4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cartIcon {
  background: none;
  border: none;
}

.cartIcon svg {
  cursor: pointer;
  font-size: 2.2rem;
  color: #000;
  stroke: #000;
  transition: color 0.3s;
}

.cartIcon svg:hover {
  color: #666;
  stroke: #666;
}

.navList {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.navList a,
.navList button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}

.navList a span,
.navList button span {
  font-size: 1.4rem;
  color: #323232;
}

.navList a svg,
.navList button svg {
  font-size: 2.4rem;
  color: #ccc;
  stroke: #ccc;
}

.nav > li:focus{
  color: #000;
}

/* Dropdown */
.dropdown{
  position: relative;
}

.dropdownMenu{
  position: absolute;
  left: 0;
  top: calc(100%-0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: all 150ms ease-in-out;
  pointer-events: none;
  width: 300%;
  font-size: 1.5rem;
}

.dropdownMenutwo{
  position: absolute;
  left: 0;
  top: calc(100%-0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: all 150ms ease-in-out;
  pointer-events: none;
  width: 150%;
  font-size: 1.5rem;
}

.dropdown > button:focus + .dropdownMenu{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown > button:focus + .dropdownMenutwo{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}



.dropdownContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}


.dropdownContent ul li{
  padding: 1rem;
  cursor: pointer;
  
  position: relative;
}

.dropdownContent ul li::after{
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: blue;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

.dropdownContent ul li:hover::after{
  transform: scaleX(1);
}

.dropdownHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid blue;
  padding: 1rem;
}

.dropspan{
  padding: 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.dropspan:hover{
  background-color: #c3c1c1;
  width: 100%;
  text-align: center;
}