

.bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    padding:1.1rem 0;
    border-radius: 0.7rem;
    width: 100%;
    height: 10vh;
    font-size: 1.5rem;
    font-weight: 100;
    
}

select{
    padding: 0.8rem 0;
    width: 22rem;
    outline: none;
}

.pricetag{
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    /* width: 15%; */
}

.price{
    box-shadow: 2px 1px 2px rgba(0,0,0,.2);
    border-radius: .6rem;
    width: 15%;
    height: 13vh;

}

.pricebody{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    align-items: center;
    margin-top: 1.1rem;
}


.container{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 3rem;
    margin-left: 30rem;
}

.card{
    width: 20rem;
    box-shadow: 2px 1px 2px rgba(0,0,0,.2);
    border-radius: 0.7rem;
    margin-left: 0;
}

.card h3{
    color: blue;
    margin-bottom: 0.7rem;
}

.card p{
    color: gray;
    margin-bottom: 0.2rem;
    
}


.rating{
    margin-top: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shopcontent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.4rem;
    margin-top: 1.5rem;
    overflow-y: scroll;
    
}

@media only screen and (min-width: 601px) and (max-width: 1061px) {
    .shopcontent{
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen  and (max-width: 912px) {
    .container{
        flex-direction: column;
        margin-left: 10rem;
    }
}

@media only screen  and (max-width: 400px) {
    .container{
        flex-direction: column;
        margin-left: 5rem;
    }
}