.sidebar{
    background-color: white;
    height: 100vh;
    width: 20%;
    z-index: 999;
    transition: all 0.4s ease;
    transform-origin: left;
    font-size: 1.8rem;
    box-shadow: 0px 2px 15px 0 rgba(0,0,0,0.9);
    border-radius: 0.2rem;
}

.sidebar ul{
    margin-top: 4rem;
}

.sidebar ul li{
    padding: 1rem;
    transition: all 0.4s ease;
}

.sidebar ul li:hover{
    background-color: #c3c1c1;
    color: blue;
    border-left: 3px solid blue;

}

.close{
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    border-bottom: 1px solid #000;
    width: 100%;
}